.address-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Subtle shadow below */
    0 1px 3px rgba(0, 0, 0, 0.08), /* Even subtler shadow for depth */
    0 4px 6px rgba(0, 0, 0, 0.1), /* Subtle shadow below */
    0 1px 3px rgba(0, 0, 0, 0.08);
    
}

 .selected{
    border: 1px solid rgb(69, 202, 219);
}
