/* src/components/CartItem.css */
.cart-item-wrapper{
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width:auto;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-details {
  flex-grow: 1;
  margin-left: 10px;
}

.cart-item-name {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.Removed{
  color: gray;
  font-weight: bold;
}

.Not-present-yet{
  color: rgb(0, 45, 248);
  font-weight: bold;
}

.Not-operating-time{
  color: #cf6b00;
  font-weight: bold;
}

.Not-in-stock{
  color: red;
  font-weight: bold;
}

.cart-item-price {
  font-size: 0.9rem;
  color: #888;
  cursor: pointer;
}

.cart-item-total {
  text-align: right;
}

.cart-item-total-before-discounts {
  font-size: 0.8rem;
  color: #aaa;
}

.cart-item-discount-total {
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
}

.cart-item-discount {
  font-size: 0.8rem; /* Small font size */
  color: #f39c12; /* A contrasting color to make it stand out */
  margin-left: 5px; /* Slight space from the price */
  white-space: nowrap; /* Prevents wrapping */
}

.cart-item-total-before-discounts {
  display: inline-block; /* Allows the discount to be shown next to it */
  margin-right: 5px; /* Adds some space between original price and discount */
}

.before-discounts-text{
  text-decoration: line-through; /* Adds a line through the text */
}

.optional-additions-wrapper{
  display: flex;
  flex-direction: column;
  animation: none;
  overflow: hidden;
}

.optional-additions-wrapper span{
  margin-left: 1rem;
  color: #333;
  margin-bottom: 0.3rem;
}



@keyframes expand {
  from {
    max-height: 0; /* Start collapsed */
  }
  to {
    max-height: 1000px; /* Large enough to fit all content */
  }
}

@keyframes collapse {
  from {
    max-height: 1000px; /* Large enough to fit all content */
  }
  to {
    max-height: 0; /* Collapse to 0 height */
  }
}

.optional-additions-wrapper.open {
  animation: expand 0.5s ease forwards; /* Adjust timing as needed */
}

.optional-additions-wrapper.closed {
  animation: collapse 0.5s ease forwards; /* Adjust timing as needed */
}

@media (max-width: 480px) {

  .cart-item-name{
    font-size: 0.8rem;
  }

  .cart-item-price {
    font-size: 0.8rem;
  }

  .cart-item-discount-total {
    font-size: 0.8rem;
  }

  .cart-item-wrapper{
    padding-bottom: 5px;
  }
/*
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-total {
    text-align: left;
    margin-top: 5px;
  }
*/
}

