/* src/components/OrderButton.css */

.order-button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #218838;
}

.disabled{
  background-color: #218838;
  color: rgb(84 76 76);
}

.cash{
  background-color: #5cadc5;
}

.cash .disabled{
  background-color: #206275;
}

.cash:hover {
  background-color: #3056bd;
}

.confirm-stage{
  background-color: #e3a10c;
}

.confirm-stage:hover{
  background-color: #b98d05;
}

@media (max-width: 480px) {
  .order-button {
    padding: 10px;
    font-size: 1rem;
  }
}
