.receipt {
    max-width: 400px;
    min-width: 300px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
  }
  
.receipt-merchant-name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.receipt-info {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.receipt-info span {
  display: block;
}
.receipt-order-summary{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 16px;
}
.receipt-order-summary .title{
  font-weight: bold;
  margin-bottom: 10px;
  
  padding-bottom: 5px;
  font-size: 16px;    
}

.receipt-order-summary ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.receipt-order-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 5px 0;
}

.receipt-item-name {
  flex: 1;
  font-weight: bold;

}

.receipt-item-price {
  text-align: right;
  margin-left: 10px;
  text-align: right;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.receipt-crossed-price {
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 12px;
  color: #999;
}

.receipt-totals {
  margin-top: 20px;
}

.receipt-subtotal,
.receipt-discount,
.receipt-delivery,
.receipt-tax,
.receipt-total,
.receipt-savings {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.receipt-total {
  font-size: 18px;
  font-weight: bold;
}

.receipt-payment-method {
  margin-top: 20px;
}

.receipt-special-message {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

.receipt-return-policy {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #999;
}
  
  