.receipt {
    max-width: 400px;
    min-width: 280px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
  }

.receipt-order-summary{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 16px;
}
.receipt-order-summary-title{
  font-weight: bold;
  margin-bottom: 10px;
  
  padding-bottom: 5px;
  font-size: 16px;    
}

.receipt-order-summary ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.receipt-payment-method {
  margin-top: 20px;
}

.receipt-special-message {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}
  
  